*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto Slab", serif;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    background-color: rgb(98, 149, 243);
    height: 500px;
    width: 100%;
    text-align: center;
}

.header_img{
    width: 100%;
    margin: auto;
}

#agile_img{
    height: 200px;
}

.header_profile{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: rgb(51, 51, 51);
    display: block;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: rgb(66,180,214)
}

a:hover{
    font-weight: bold;
    text-decoration: un;
}

#name{
    font-weight: bold;
}

#update_date{
    font-style: italic;
}

.header_title{
    margin: auto;
     margin-top: 200px;
}

#title{
    color: #fff;
    font-size: 50px;
    margin: auto;
    max-width: 780px;
}

.list{
    width: 60%;
    margin-top: 80px;
    padding: 30px;
}

.list_title{
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

.list_description{
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
}

.list_img{
    width:66.67%;
    margin: auto;
}

img{
    max-width: 100%
}